AspAppClient/AspAppClient/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminGender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMainAdmin" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
</xs:schema>