WpfAppClientAdmin/WpfAppClientAdmin/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPath" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAdminExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAdminExist" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAdminExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAdminExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsMainAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMainAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_IsMainAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMainAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdminByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAdminByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsCategoryExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCategoryExist" />
  </wsdl:message>
  <wsdl:message name="IService1_IsCategoryExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCategoryExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllCategoryList" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsProductExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsProductExist" />
  </wsdl:message>
  <wsdl:message name="IService1_IsProductExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsProductExistResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPath" message="tns:IService1_GetPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPathResponse" message="tns:IService1_GetPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAdminExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckAdminExist" message="tns:IService1_CheckAdminExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckAdminExistResponse" message="tns:IService1_CheckAdminExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewAdmin" message="tns:IService1_AddNewAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewAdminResponse" message="tns:IService1_AddNewAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMainAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsMainAdmin" message="tns:IService1_IsMainAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsMainAdminResponse" message="tns:IService1_IsMainAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAdminByEmail" message="tns:IService1_GetAdminByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAdminByEmailResponse" message="tns:IService1_GetAdminByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAdmin" message="tns:IService1_UpdateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAdminResponse" message="tns:IService1_UpdateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAdmin" message="tns:IService1_DeleteAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAdminResponse" message="tns:IService1_DeleteAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCategory" message="tns:IService1_AddNewCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCategoryResponse" message="tns:IService1_AddNewCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCategoryExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsCategoryExist" message="tns:IService1_IsCategoryExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsCategoryExistResponse" message="tns:IService1_IsCategoryExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllCategoryList" message="tns:IService1_SelectAllCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllCategoryListResponse" message="tns:IService1_SelectAllCategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewProduct" message="tns:IService1_AddNewProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewProductResponse" message="tns:IService1_AddNewProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProduct" message="tns:IService1_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProductResponse" message="tns:IService1_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsProductExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsProductExist" message="tns:IService1_IsProductExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsProductExistResponse" message="tns:IService1_IsProductExist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPath">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAdminExist">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckAdminExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMainAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/IsMainAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAdminByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCategoryExist">
      <soap:operation soapAction="http://tempuri.org/IService1/IsCategoryExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllCategoryList">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsProductExist">
      <soap:operation soapAction="http://tempuri.org/IService1/IsProductExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>